<p id="notice"><%= notice %></p>

<h1>Current Inventory</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Description</th>
      <th>Price</th>
      <th>Featured?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.year %></td>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.description %></td>
        <td><%= number_to_currency(car.price) %></td>
        <td><%= "Yes" if car.featured %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Delete', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-success"><%= link_to 'New Car', new_car_path %></button>
