<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= number_to_currency(@car.price) %>
</p>
<p>
  <strong>Featured Image</strong>
  <%= image_tag @car.featured_image %>
</p>
<p>
  <strong>Images</strong>
  <% @car.image.each do |image| %>
    <%= image_tag image %>
  <% end %>
</p>
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
