<h1>Current Inventory</h1>
<% @cars.in_groups_of(3).each do |group| %>
<div class="row">
  <% group.each do |car| %>
    <% if car %>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <%= link_to image_tag(car.image.url(:medium), :class => "car_image"), car %>
        <%= car.year %> <%= car.make %> <%= car.model %>
        <p><%= number_to_currency(car.price, precision: 0) %></p>
      </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
